<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Services, AngularJS - ViraPatel tutorial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <div ng-app="calculatorApp">
        <div ng-controller="CalculatorController">
            Enter a number:
            <input type="number" ng-model="number" />
            <button ng-click="doSquare()">X<sup>2</sup></button>
            <button ng-click="doCube()">X<sup>3</sup></button>
            
            <div>Answer: {{answer}}</div>
        </div>
    </div>
</body>

</html>