<div class="card" ng-controller="RegisterController">
    <div class="card-header">
        Ilmoittautumislomake
    </div>
    <div class="card-body">
        <form action="">
            <div class="form-group">
                <label for="name">Nimi:</label>
                <input type="text" class="form-control" id="name" ng-model="newreg.name">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" ng-model="newreg.email">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="sauna" ng-model="newreg.sauna">
                <label class="form-check-label" for="sauna">Osallistun saunailtaan</label>
            </div>
            <div class="form-group">
                <label for="foodSelection">Ruokavalinta</label>
                <select class="form-control" id="foodSelection" ng-model="newreg.food">
                    <option value="kala" selected>Kala</option>
                    <option value="liha">Liha</option>
                    <option value="kasvis">Kasvis</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="submit()">Lähetä</button>
        </form>
    </div>
</div>