<div class="card">
        <div class="card-header">
            Ilmoittautuneet
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nimi</th>
                        <th scope="col">Email</th>
                        <th scope="col">Ruokavalinta</th>
                        <th scope="col">Saunailta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Ossi Osallistuja</td>
                        <td>ossi@osallistuja.com</td>
                        <td>Kala</td>
                        <td>joo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Keijo Esimerkki</td>
                        <td>esim@esim.de</td>
                        <td>Kasvis</td>
                        <td>ei</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>