<div class="card w-75 mx-auto my-sm-5" ng-controller="ShowRegistrationsController">
        <div class="card-header">
            Ilmoittautuneet
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nimi</th>
                        <th scope="col">Email</th>
                        <th scope="col">Ruokavalinta</th>
                        <th scope="col">Saunailta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="n in registrations">
                        <th scope="row">{{ n.id }}</th>
                        <td>{{ n.name }}</td>
                        <td>{{ n.email }}</td>
                        <td>{{ n.food }}</td>
                        <td>{{ n.sauna ? 'kyllä' : 'ei' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>