<!-- admin.html -->
<div class="panel panel-default">
    <div class="panel-heading"><strong>Admin</strong></div>
    <div class="panel-body">
        <!--Tämä on tilanteesta riippuen muokkaus- tai lisäyslomake -->
        <form role="form">
            <div class="form-group">
                <label for="nimi">Opiskelijanumero:</label>
                <input type="text" class="form-control" id="student_number" placeholder="opiskelijanumero" ng-model="formdata.student_number">

                <label for="nimi">Sukunimi:</label>
                <input type="text" class="form-control" id="last_name" placeholder="sukunimi" ng-model="formdata.last_name">

                <label for="email">Etunimi:</label>
                <input type="email" class="form-control" id="first_name" placeholder="etunimi" ng-model="formdata.first_name">

                <label for="nimi">Opintopisteet:</label>
                <input type="text" class="form-control" id="study_points" placeholder="opintopisteet" ng-model="formdata.study_points">
                <input type="hidden" ng-model="formdata._id" />
            </div>
            <button type="submit" class="btn btn-default" ng-show="createbtn" ng-click="create()">Luo uusi</button>
            <button type="submit" class="btn btn-default" ng-show="updatebtn" ng-click="update()">Muokkaa</button>
        </form>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Opiskelijanumero</th>
                        <th>Sukunimi</th>
                        <th>Etunimi</th>
                        <th>Opintopisteet</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in students">
                        <td>{{x.onumero}}</td>
                        <td>{{x.snimi}}</td>
                        <td>{{x.enimi}}</td>
                        <td>{{x.opisteet}}</td>
                        <td><span id="del" class="btn btn-link" ng-click="del(x)">Poista</span></td>
                        <td><span id="updform" class="btn btn-link" ng-click="updateform(x)">Muokkaa</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>