<!-- admin.html -->
<div class="panel panel-default">
    <div class="panel-heading"><strong>Admin</strong></div>
    <div class="panel-body">
        <!--Tämä on tilanteesta riippuen muokkaus- tai lisäyslomake -->
        <form role="form" name="form" novalidate>
            <div class="form-group">
                <label for="studentnumber">Opiskelijanumero:</label>
                <input type="text" class="form-control" id="studentnumber" name="studentnumber" placeholder="opiskelijanumero" ng-model="formdata.studentnumber" ng-pattern="studentNumberRegex" ng-required="required">
                <span class="help-block" ng-show="form.studentnumber.$error.pattern">Opiskelijanumero muotoa: pieni kirjain + 4 numeroa</span>
                <span class="help-block" ng-show="form.studentnumber.$error.required">Vaaditaan!</span>

                <label for="surname">Sukunimi:</label>
                <input type="text" class="form-control" id="surname" name="surname" placeholder="sukunimi" ng-model="formdata.surname" ng-required="required" ng-maxlength="nameMaxLength">
                <span class="help-block" ng-show="form.surname.$error.required">Vaaditaan!</span>
                <span class="help-block" ng-show="form.surname.$error.maxlength">Max pituus {{nameMaxLength}} merkkiä</span>

                <label for="forename">Etunimi:</label>
                <input type="text" class="form-control" id="forename" name="forename" placeholder="etunimi" ng-model="formdata.forename" ng-required="required" ng-maxlength="nameMaxLength">
                <span class="help-block" ng-show="form.forename.$error.required">Vaaditaan!</span>
                <span class="help-block" ng-show="form.forename.$error.maxlength">Max pituus {{nameMaxLength}} merkkiä</span>

                <label for="credits">Opintopisteet:</label>
                <input type="text" class="form-control" id="credits" name="credits" placeholder="opintopisteet" ng-model="formdata.credits" ng-pattern="studyPointsRegex" ng-required="required">
                <span class="help-block" ng-show="form.credits.$error.pattern">Syötä kokonaisluku väliltä 0-9999</span>
                <span class="help-block" ng-show="form.credits.$error.required">Vaaditaan!</span>
                
                <input type="hidden" ng-model="formdata._id" />
            </div>
            <button type="submit" class="btn btn-default" ng-show="createbtn" ng-click="create()" ng-disabled="form.$invalid">Luo uusi</button>
            <button type="submit" class="btn btn-default" ng-show="updatebtn" ng-click="update()" ng-disabled="form.$invalid">Muokkaa</button>
        </form>
        <code>{{formdata}}</code><br>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Opiskelijanumero</th>
                        <th>Sukunimi</th>
                        <th>Etunimi</th>
                        <th>Opintopisteet</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in students">
                        <td>{{x.onumero}}</td>
                        <td>{{x.snimi}}</td>
                        <td>{{x.enimi}}</td>
                        <td>{{x.opisteet}}</td>
                        <td><span id="del" class="btn btn-link" ng-click="del(x)">Poista</span></td>
                        <td><span id="updform" class="btn btn-link" ng-click="updateform(x)">Muokkaa</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>