<!-- show.html -->
<div class="panel panel-default">
    <div class="panel-heading"><strong>Opiskelijat</strong></div>
    <div class="panel-body">
        <button type="button" class="btn btn-default" ng-click="toggleUnder100credits()">Näytä alle 100 op</button>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Opiskelijanumero</th>
                        <th>Sukunimi</th>
                        <th>Etunimi</th>
                        <th>Opintopisteet</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in students">
                        <td>{{x.onumero}}</td>
                        <td>{{x.snimi}}</td>
                        <td>{{x.enimi}}</td>
                        <td>{{x.opisteet}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>