<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script>
    //Tiedot lomakkeelta kerätään tässä Jqueryllä
    $(document).ready(function () {
      var email, pass;
      $("#submit").click(function () {
        email = $("#email").val();
        pass = $("#password").val();

        $.post("http://localhost:3000/login", {
          email: email,
          pass: pass
        }, function (data) {
          if (data === 'done') {
            window.location.href = "/upload";
          }
        });
      });
    });
  </script>
</head>

<body>
  <h1>Login</h1>
  <input type="text" size="40" placeholder="email" id="email">
  <br />
  <input type="password" size="40" placeholder="password" id="password">
  <span id="pass"></span>
  <br />
  <input type="button" value="Submit" id="submit">
</body>

</html>