<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <p>
        <a href="/files">files</a> |
        <a href="/logout">logout</a>
    </p>
    <h1>
        <%= title %>
    </h1>
    <p>Session id on
        <%= sessid %>
    </p>
    <form ref='uploadForm' 
      id='uploadForm' 
      action='http://localhost:3000/uploadfile' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form>     

</body>

</html>