<!-- *ngIf directive removes the hero detail from the DOM if it's undefined -->
<div *ngIf="hero">
    <!-- The word uppercase in the interpolation binding, 
      right after the pipe operator ( | ), activates the built-in UppercasePipe -->
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label> name:
        <!-- [(ngModel)] is Angular's two-way data binding syntax -->
      <input [(ngModel)]="hero.name" placeholder="name">
    </label>
  </div>
</div>
<!-- Angular's event binding syntax -->
<button (click)="goBack()">go back</button>